.content-list {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.section-header {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  /* margin-bottom: 2rem; */
}

.title-row {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  gap: 1rem;
}
