---
import BaseLayout from "./BaseLayout.astro";
import Container from "../ui/Container.astro";

interface Props {
  title: string;
  description: string;
}

const { title, description } = Astro.props;
---

<BaseLayout {title} {description}>
  <main>
    <Container>
      <section class="hero">
        <h1>{title}</h1>
        <p class="subtitle">{description}</p>
      </section>
      <slot />
    </Container>
  </main>
</BaseLayout>

<style>
  .hero {
    padding: 4rem 0;
  }

  @media (max-width: 640px) {
    .hero {
      padding: 3rem 0;
    }
  }
</style>
