---
interface Props {
  class?: string;
}

const { class: className } = Astro.props;
---

<section class:list={["section", className]}>
  <slot />
</section>

<style>
  .section {
    margin: 4rem 0;
  }

  @media (max-width: 640px) {
    .section {
      margin: 3rem 0;
    }
  }
</style>

